## 공통 공지

보고서 파일에 코드를 왜 이렇게 짰는지에 대한 설명을 상세히 기재하기 바랍니다. <br>
보고서 파일을 기반으로 평가할 것이며 코드는 증빙자료의 역할입니다.


- 제출기한
    - 1차 제출: 2024. 12. 8. (일) 23시 59분
    - 2차 제출: 2024. 12. 20. (금) 23시 59분

- 제출물
    - 파일 업로드
        - 보고서 파일 (본 공지사항 아래 업로드한 템플릿에 작성): 학번_이름_과제번호.hwp
        - 파이썬 코드 파일 (.py file 또는 .ipynb file): 학번_이름_과제번호.ipynb 또는 학번_이름_과제번호.py
    - 텍스트 제출
        - 작성한 코드 모두 복사해서 과제제출시 붙여넣기 (Copykiller 적용)
    - 제출경로: eclass - 과제
    
    참고: 결측치라고 생각되는 항목을 적절하게 처리해야 합니다.

- 배점기준
    1. 정시 제출 & 보고서 파일: 10점 (보고서 파일을 제출하지 않는 경우 0점 처리.)
    2. 미션 점수: 40점 (10점 x 4개)
      - 미션 미제출 0점, 기본기능 구현 시 5점, 이후 요구 출력 구현 여부에 따라 10점까지 차등배점
      - 1차제출 평가 이후 보완점이 있는 경우, 보완된 내용에 대해 20%까지 부여 가능 (E.g., 8~9점 -> 10점, 0~7점 -> 2~9점 MAX)
    
    * 지연제출 1시간 이내: 전체 점수에서 -10%, 이후 1시간당 -10%씩 차감

# Job
- 링크 : https://www.kaggle.com/datasets/everydaycodings/job-opportunity-dataset (외부 사이트로 연결합니다.)
- csv 파일을 Pandas DataFrame으로 받고, 회사가 많이 있는 도시를 내림차순으로 정렬해서 plotting하세요.
    - 복수로 표기된 엔트리(쉼표로 처리된 도시)를 처리해야 합니다.
    - 상위 20개의 도시에 대해서만 plotting하세요.
    - 가독성 있게 그려야 합니다.
- 평균 임금 best 10 & worst 10 직종 출력
    - 직종 별로 평균 임금을 계산하여 출력합니다.
        - https://en.wikipedia.org/wiki/Indian_numbering_system 참고
    - 통화는 달러로 처리하세요.
        - https://pypi.org/project/CurrencyConverter/ 참고
    - 지원하지 않는 통화는 제외하세요.
- 경력 별 평균 임금 출력
    - 경력 별로 평균 임금을 계산하여 출력합니다.
    - csv parsing 오류 처리할 것 (e.g., "Be an early applicant" 등)
- “JobFinder” 클래스를 생성하세요.
    - 원하는 연봉과 경력을 입력받는 구직자 인스턴스를 생성합니다.
    - job csv 파일과 구직자 인스턴스를 기반으로, 해당 구직자에게 적절한 직장을 추천합니다.
    - 구현해야 하는 메서드는 아래과 같습니다.
        - __init__(salary, experience): 구직자를 생성합니다.
        - get_appropriate_job(n): 조건을 만족하는 n개의 직업을 추천합니다.
            - 추천 알고리즘은 자유롭게 만들 것
        - print_info(): 구직자의 정보를 출력합니다.
        - 추가적으로, 클래스에 예외 처리 기능을 구현하여 파일 로드나 데이터 처리 과정에서 발생할 수 있는 오류를 안내하는 메시지를 제공하세요.
    
---

### 데이터 불러오기

In [1]:
import pandas as pd

### csv 파일을 Pandas DataFrame으로 받으시오

In [2]:
data = pd.read_csv('data/3. job.csv')

### 회사가 많이 있는 도시를 내림차순으로 정렬해서 plotting 하시요.

### 데이터 처리

In [ ]:
# start_date 제거
data.drop('start_date', axis=1, inplace=True)

In [ ]:
# experience 처리
data['experience'] = data['experience'].str.replace(" years", "")
data['min_experience'] = data['experience'].str.split("-").str[0]
data['max_experience'] = data['experience'].str.split("-").str[-1]
data.drop('experience', axis=1, inplace=True)

In [ ]:
# ctc 처리
from currency_converter import CurrencyConverter
c = CurrencyConverter()

def calculate_ctc(ctc):
    list = ctc.split(" ")
    min , max = 0, 0

    if list[0] == "₹":
        min = c.convert(list[1].replace(",", ""), 'INR', 'USD')
        max = c.convert(list[-1].replace(",", ""), 'INR', 'USD')
    elif list[0] == "$":
        min = list[1]
        max = list[-1]
    else:
        print(list[0])

    return min, max


data['ctc'] = data['ctc'].apply(calculate_ctc)

AED
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive
Competitive

In [ ]:
data

,job_title,company_name,location,ctc,posted,min_experience,max_experience
0,Business Development Associate,Break The Code,Mumbai,"(2377.7909913644967, 3566.686487046745)",3 days ago,0,1
1,IELTS/PTE/Spoken English Trainer,DePioneer Education Overseas,Delhi,"(3566.686487046745, 4161.134234887869)",1 week ago,0,2
2,Fashion Designer,Valkyre Clothing,Mumbai,"(3566.686487046745, 4161.134234887869)",3 days ago\n\n\nBe an early applicant,0,2
3,Corporate Sales Executive,Kompass India Information Private Limited,Mumbai,"(2377.7909913644967, 4755.581982728993)",3 weeks ago,0,5
4,Junior Python Developer,Extension Technologies Private Limited,Faridabad,"(2853.349189637396, 4280.023784456094)",2 weeks ago,0,2
...,...,...,...,...,...,...,...
4591,PHP Developer,Unnati,Gurgaon,"(0, 0)",3 weeks ago,3,5
4592,Software Developer,Unnati,Gurgaon,"(0, 0)",3 weeks ago,2,10
4593,Social Media Marketing Manager,Unnati,Delhi,"(0, 0)",3 weeks ago,3,4
4594,Graphic Designer,Unnati,Gurgaon,"(0, 0)",3 weeks ago,3,6
4595,Digital Marketing Manager,Unnati,Delhi,"(0, 0)",3 weeks ago,3,7

In [ ]:
data['ctc'].value_counts()

ctc
(2377.7909913644967, 3566.686487046745)     520
(2377.7909913644967, 2377.7909913644967)    274
(2377.7909913644967, 2972.238739205621)     249
(0, 0)                                      208
(2377.7909913644967, 2853.349189637396)     205
                                           ...
(2496.6805409327217, 3863.910360967307)       1
(14266.74594818698, 14266.74594818698)        1
(3804.465586183195, 4755.581982728993)        1
(2615.570090500946, 2912.7939644215085)       1
(28533.49189637396, 35666.86487046745)        1
Name: count, Length: 476, dtype: int64

In [ ]:
from currency_converter import CurrencyConverter

c = CurrencyConverter()
data['salary'] = data['salary'].str.replace("$", "")

In [ ]:
data = data.assign(location=data['location'].str.split(', ')).explode('location').reset_index(drop=True)

In [ ]:
data['ctc'].unique()

array(['₹ 2,00,000 - 3,00,000', '₹ 3,00,000 - 3,50,000',
       '₹ 2,00,000 - 4,00,000', '₹ 2,40,000 - 3,60,000',
       '₹ 2,40,000 - 3,00,000', '₹ 2,00,000 - 2,50,000',
       '₹ 2,52,000 - 4,00,000', '₹ 7,00,000 - 10,00,000',
       '₹ 5,00,000 - 8,00,000', '₹ 4,00,000 - 7,00,000',
       '₹ 3,00,000 - 5,00,000', '₹ 4,00,000 - 5,00,000',
       '₹ 2,00,000 - 5,00,000', '₹ 2,00,000 - 3,50,000', '₹ 2,75,000',
       '₹ 5,00,000 - 7,00,000', '₹ 3,00,000', '₹ 2,10,000 - 2,17,995',
       '₹ 5,00,000 - 10,00,000', '₹ 2,00,000 - 3,60,000', '₹ 5,00,000',
       '₹ 3,00,000 - 4,00,000', '₹ 2,50,000 - 3,00,000', '₹ 7,00,000',
       '₹ 2,50,000 - 4,75,000', '₹ 3,20,000 - 3,20,001',
       '₹ 2,20,000 - 2,60,000', '₹ 2,10,000 - 3,20,000',
       '₹ 2,60,000 - 4,00,000', '₹ 2,40,000 - 5,50,000',
       '₹ 7,00,000 - 8,00,000', '₹ 3,00,000 - 3,40,000',
       '₹ 2,80,000 - 4,50,000', '₹ 2,50,000 - 3,50,000',
       '₹ 3,75,000 - 4,00,000', '₹ 7,50,000 - 8,50,000', '₹ 4,00,000',
       '₹ 2,88,000 - 3,24,000', '₹ 6,60,000 - 7,00,000',
       '₹ 4,00,000 - 8,00,000', '₹ 3,00,000 - 3,60,000',
       '₹ 4,00,000 - 6,00,000', '₹ 4,50,000 - 5,50,000',
       '₹ 3,09,600 - 3,81,600', '₹ 4,10,000 - 4,20,000',
       '₹ 2,80,000 - 3,00,000', '₹ 2,00,000 - 3,80,000',
       '₹ 2,00,000 - 2,75,000', '₹ 3,60,000 - 4,00,000',
       '₹ 3,50,000 - 4,00,000', '₹ 4,00,000 - 4,50,000',
       '₹ 2,50,000 - 4,00,000', '₹ 2,46,000 - 3,00,000',
       '₹ 2,00,000 - 2,25,000', '₹ 2,00,000', '₹ 3,50,000 - 6,50,000',
       '₹ 3,00,000 - 10,00,000', '₹ 2,00,000 - 2,20,000',
       '₹ 4,60,000 - 7,44,000', '₹ 3,00,000 - 6,00,000',
       '₹ 2,00,000 - 2,10,000', '₹ 2,10,000 - 8,50,000',
       '₹ 5,00,000 - 6,00,000', '₹ 6,00,000 - 7,00,000', '₹ 2,10,000',
       '₹ 3,00,000 - 4,80,000', '₹ 2,00,000 - 6,50,000',
       '₹ 2,40,000 - 2,80,000', '₹ 3,00,000 - 4,50,000',
       '₹ 4,40,000 - 5,50,000', '₹ 2,20,000 - 3,00,000',
       '₹ 2,40,000 - 3,50,000', '₹ 4,50,000 - 8,50,000',
       '₹ 3,36,000 - 3,60,000', '₹ 4,50,000 - 5,00,000',
       '₹ 2,00,000 - 2,16,000', '₹ 2,20,000 - 4,20,000',
       '₹ 3,00,000 - 7,00,000', '₹ 2,00,000 - 2,80,000',
       '₹ 9,00,000 - 10,00,000', '₹ 2,40,000', '₹ 2,00,000 - 2,70,000',
       '₹ 2,10,000 - 2,70,000', '₹ 5,00,000 - 12,00,000',
       '₹ 4,80,000 - 6,00,000', '₹ 3,00,000 - 3,36,000',
       '₹ 2,00,000 - 2,40,000', '₹ 2,50,000 - 4,80,000',
       '₹ 3,50,000 - 5,00,000', '₹ 2,50,000 - 5,00,000',
       '₹ 2,00,000 - 4,20,000', '₹ 4,50,000 - 6,50,000',
       '₹ 2,50,000 - 4,50,000', '₹ 3,00,000 - 8,00,000',
       '₹ 2,40,000 - 4,20,000', '₹ 6,00,000 - 8,00,000',
       '₹ 2,40,000 - 5,00,000', '₹ 2,00,000 - 2,00,001',
       '₹ 3,60,000 - 5,00,000', '₹ 4,80,000 - 8,00,000',
       '₹ 4,50,000 - 9,00,000', '₹ 5,00,000 - 5,10,000',
       '₹ 2,00,000 - 2,64,000', '₹ 4,50,000 - 8,00,000',
       '₹ 5,00,000 - 9,50,000', '₹ 3,00,000 - 3,49,998',
       '₹ 2,00,000 - 4,50,000', '₹ 2,64,000 - 3,50,000',
       '₹ 4,50,000 - 7,50,000', '₹ 2,10,000 - 5,10,000',
       '₹ 5,00,000 - 5,50,000', '₹ 2,16,000 - 2,40,000',
       '₹ 2,00,000 - 6,00,000', '₹ 3,00,000 - 3,70,000',
       '₹ 2,16,000 - 3,00,000', '₹ 6,00,000 - 6,20,000',
       '₹ 5,50,000 - 6,50,000', '₹ 2,40,000 - 4,00,000',
       '₹ 2,20,000 - 2,40,000', '₹ 3,60,000 - 6,40,000',
       '₹ 3,00,000 - 3,20,000', '₹ 3,60,000 - 4,20,000',
       '₹ 12,00,000 - 15,00,000', '₹ 2,00,000 - 8,00,000',
       '₹ 7,20,000 - 9,60,000', '₹ 3,60,000 - 4,80,000', '₹ 3,60,000',
       '₹ 5,00,000 - 15,00,000', '₹ 2,90,000 - 3,00,000', '₹ 9,00,000',
       '₹ 5,50,000', '₹ 5,00,000 - 7,20,000', '₹ 7,00,000 - 9,00,000',
       '₹ 4,50,000 - 6,00,000', '₹ 5,20,000', '₹ 2,80,000 - 5,00,000',
       '₹ 6,00,000', '₹ 6,50,000 - 7,50,000', '₹ 4,00,000 - 10,00,000',
       '₹ 3,50,000', '₹ 7,20,000 - 8,00,000', '₹ 4,00,000 - 5,50,000',
       '₹ 4,20,000 - 5,40,000', '₹ 5,60,000 - 11,20,000',
       '₹ 5,40,000 - 6,50,000', '₹ 2,40,000 - 2,40,001',
       '₹ 2,40,000 - 2,45,000', '₹ 2,40,000 - 6,00,000',
       '₹ 2,40,000 - 7,00,000', '₹ 4,80,000', '₹ 2,00,000 - 2,60,000',
       '₹ 2,10,000 - 3,00,000', '₹ 2,45,000', '₹ 3,50,000 - 3,90,000',
       '₹ 4,20,000 - 6,00,000', '₹ 3,00,000 - 3,10,000',
       '₹ 8,00,000 - 12,00,000', '₹ 5,40,000 - 6,00,000',
       '₹ 5,00,000 - 7,50,000', '₹ 5,00,000 - 9,00,000',
       '₹ 8,00,000 - 8,50,000', '₹ 10,00,000 - 12,00,000',
       '₹ 8,00,000 - 10,00,000', '₹ 4,32,000', '₹ 2,00,000 - 3,70,000',
       '₹ 2,20,000 - 2,50,000', '₹ 3,60,000 - 6,00,000',
       '₹ 3,00,000 - 4,20,000', '₹ 2,50,000 - 3,60,000',
       '₹ 2,70,000 - 4,00,000', '₹ 2,70,000 - 3,60,000',
       '₹ 5,50,000 - 5,80,000', '₹ 2,15,000 - 2,16,000',
       '₹ 4,00,000 - 4,20,000', '₹ 6,00,000 - 9,60,000', '₹ 8,00,000',
       '₹ 2,40,000 - 2,50,000', '₹ 6,40,000 - 11,80,000',
       '₹ 5,68,000 - 11,20,000', '₹ 3,50,000 - 4,50,000',
       '₹ 3,00,000 - 3,25,000', '₹ 2,00,000 - 2,05,000',
       '₹ 2,04,000 - 3,00,000', '₹ 2,20,000 - 2,80,000',
       '₹ 2,16,000 - 2,75,000', '₹ 2,50,000 - 2,70,000',
       '₹ 3,50,000 - 4,20,000', '₹ 2,00,000 - 4,80,000',
       '₹ 2,50,000 - 3,25,000', '₹ 2,10,000 - 2,40,000',
       '₹ 3,40,000 - 4,50,000', '₹ 2,39,998', '₹ 2,00,000 - 3,36,000',
       '₹ 6,60,000 - 9,60,000', '₹ 3,50,000 - 3,70,000',
       '₹ 2,00,000 - 2,30,000', '₹ 2,80,000 - 3,80,000',
       '₹ 2,04,000 - 2,50,000', '₹ 2,00,000 - 2,24,000',
       '₹ 2,40,000 - 2,88,000', '₹ 2,40,000 - 4,50,000',
       '₹ 2,64,000 - 4,00,000', '₹ 2,00,000 - 3,20,000',
       '₹ 4,00,000 - 12,00,000', '₹ 2,50,000 - 4,20,000',
       '₹ 2,00,000 - 3,25,000', '₹ 2,24,000', '₹ 2,00,000 - 2,99,998',
       '₹ 2,50,000 - 2,75,000', '₹ 2,10,000 - 2,50,000',
       '₹ 5,50,000 - 8,50,000', '₹ 2,76,000 - 3,00,000',
       '₹ 2,04,000 - 2,76,000', '₹ 2,64,000 - 3,00,000',
       '₹ 6,00,000 - 8,40,000', '₹ 4,50,000 - 5,25,000',
       '₹ 6,00,000 - 9,00,000', '₹ 3,00,000 - 3,24,000',
       '₹ 6,00,000 - 7,50,000', '₹ 2,30,000 - 3,00,000',
       '₹ 2,70,000 - 3,00,000', '₹ 10,00,000 - 14,00,000',
       '₹ 2,80,000 - 3,20,000', '₹ 3,50,000 - 5,50,000', '₹ 2,16,000',
       '₹ 2,94,000 - 3,54,000', '₹ 2,40,000 - 2,60,000',
       '₹ 2,00,000 - 3,98,000', '₹ 2,50,000 - 2,80,000',
       '₹ 2,00,000 - 2,01,000', '₹ 3,50,000 - 3,60,000', '₹ 2,50,000',
       '₹ 2,16,000 - 2,64,000', '₹ 2,16,000 - 3,50,000',
       '₹ 5,00,000 - 8,70,000', '₹ 2,00,000 - 3,40,000',
       '₹ 2,40,000 - 4,80,000', '₹ 3,00,000 - 3,75,000',
       '₹ 2,72,000 - 3,25,000', '₹ 3,20,000 - 3,50,000',
       '₹ 3,00,000 - 5,50,000', '₹ 2,40,000 - 2,64,000', '₹ 2,01,000',
       '₹ 2,16,000 - 2,52,000', '₹ 6,00,000 - 12,00,000',
       '₹ 2,18,000 - 3,50,000', '₹ 2,10,000 - 2,16,000',
       '₹ 2,04,000 - 2,88,000', '₹ 2,50,000 - 10,00,000',
       '₹ 30,00,000 - 40,00,000', '₹ 2,20,000 - 3,50,000',
       '₹ 2,00,000 - 2,28,000', '₹ 4,00,000 - 9,00,000',
       '₹ 2,00,000 - 2,00,500', '₹ 2,64,000 - 3,36,000',
       '₹ 3,60,000 - 7,20,000', '₹ 2,00,000 - 12,00,000',
       '₹ 2,52,000 - 3,12,000', '₹ 3,20,000 - 3,25,000',
       '₹ 2,88,000 - 4,32,000', '₹ 6,00,000 - 6,50,000',
       '₹ 2,80,000 - 3,60,000', '₹ 2,20,000 - 2,45,000',
       '₹ 2,00,000 - 7,00,000', '₹ 2,40,000 - 3,40,000',
       '₹ 3,20,000 - 4,00,000', '₹ 12,00,000', '₹ 2,10,000 - 3,25,000',
       '₹ 2,00,000 - 5,50,000', '₹ 2,75,000 - 3,00,000',
       '₹ 3,50,000 - 9,00,000', '₹ 7,50,000 - 8,00,000',
       '₹ 2,52,000 - 3,00,000', '₹ 3,52,000', '₹ 4,50,000',
       '₹ 3,00,000 - 3,00,001', '₹ 6,00,000 - 7,20,000',
       '₹ 6,00,000 - 10,00,000', '₹ 2,04,000 - 2,40,000',
       '₹ 2,00,000 - 2,04,000', '₹ 3,84,000', '₹ 2,40,000 - 3,20,000',
       '₹ 5,00,000 - 6,50,000', '₹ 2,70,000 - 3,20,000',
       '₹ 2,50,000 - 6,00,000', '₹ 2,40,000 - 2,41,000',
       '₹ 2,50,000 - 9,00,000', '$ 3,000 - 3,600',
       '₹ 6,00,000 - 8,50,000', '₹ 4,10,000 - 5,00,000',
       '₹ 2,25,000 - 2,75,000', '₹ 2,25,000 - 3,00,000',
       '₹ 2,30,000 - 3,50,000', '₹ 2,60,000 - 3,00,000',
       '₹ 2,04,000 - 4,50,000', '₹ 2,10,000 - 2,20,000',
       '₹ 2,28,000 - 6,00,000', '₹ 8,00,000 - 9,00,000',
       '₹ 10,00,000 - 18,00,000', '₹ 2,40,000 - 2,66,065',
       '₹ 4,80,000 - 6,60,000', '₹ 2,00,000 - 2,49,998',
       '₹ 10,00,000 - 15,00,000', '₹ 3,25,000 - 5,00,000',
       '₹ 3,50,000 - 4,80,000', '₹ 2,00,000 - 2,66,065',
       '₹ 3,40,000 - 4,20,000', '₹ 3,20,000 - 3,60,000', '₹ 2,25,000',
       '₹ 2,16,000 - 4,44,000', '₹ 2,65,000 - 2,85,000', 'AED 10,000',
       '₹ 2,60,000 - 3,10,000', '₹ 2,04,000 - 2,28,000',
       '₹ 2,25,000 - 3,50,000', '₹ 2,04,000', '₹ 2,52,000 - 3,60,000',
       '₹ 2,00,000 - 2,45,000', '$ 1,440 - 1,441',
       '₹ 4,80,000 - 5,00,000', '₹ 4,00,000 - 7,20,000',
       '₹ 2,00,000 - 2,35,000', '₹ 2,35,000 - 2,50,000',
       '₹ 12,00,000 - 18,00,000', '₹ 2,00,000 - 21,60,000', '₹ 8,50,000',
       '₹ 20,00,000 - 30,00,000', '₹ 2,64,000 - 3,24,000',
       '₹ 2,00,000 - 2,15,000', '₹ 3,80,000 - 4,20,000',
       '₹ 2,55,000 - 3,00,000', '₹ 2,60,000 - 3,60,000',
       '₹ 2,00,000 - 10,00,000', '₹ 2,75,000 - 3,50,000',
       '₹ 2,16,000 - 2,76,000', '₹ 2,50,000 - 5,50,000', '₹ 2,20,000',
       '₹ 4,00,000 - 7,50,000', '₹ 16,00,000 - 18,00,000',
       '₹ 2,15,000 - 3,00,000', '₹ 3,60,000 - 3,70,000', '₹ 20,00,000',
       '₹ 2,30,000 - 2,85,000', '₹ 4,50,000 - 4,80,000',
       '₹ 3,60,000 - 8,00,000', '₹ 2,52,000', '₹ 2,50,000 - 2,60,000',
       '₹ 3,60,000 - 5,40,000', '₹ 9,00,000 - 12,00,000',
       '₹ 2,15,000 - 2,30,000', '₹ 2,90,000 - 3,50,000',
       '₹ 2,52,000 - 2,75,000', '₹ 2,30,000 - 2,60,000',
       '₹ 3,80,000 - 4,00,000', '₹ 2,25,000 - 2,50,000',
       '₹ 2,40,000 - 3,80,000', '₹ 5,04,000 - 7,44,000',
       '₹ 3,00,000 - 3,80,000', '₹ 8,00,000 - 11,00,000',
       '₹ 5,40,000 - 10,40,000', '₹ 3,50,000 - 6,70,000',
       '₹ 2,75,000 - 3,36,000', '$ 4,800', '$ 4,500 - 5,800',
       '₹ 2,50,000 - 3,20,000', '₹ 2,04,000 - 2,10,000',
       '₹ 3,60,000 - 3,90,000', '₹ 2,16,000 - 3,36,000',
       '₹ 2,00,000 - 20,00,001', '₹ 3,50,000 - 6,00,000', '₹ 7,50,000',
       '₹ 5,40,000 - 1,17,50,000', '₹ 2,75,000 - 3,25,000',
       '₹ 3,00,000 - 3,07,000', '₹ 3,20,000 - 5,50,000',
       '₹ 3,00,000 - 3,29,000', '₹ 3,20,000 - 4,20,000',
       '₹ 4,00,000 - 6,50,000', '₹ 2,20,000 - 4,00,000',
       '₹ 2,16,000 - 2,50,000', '₹ 7,00,000 - 13,00,000',
       '₹ 5,50,000 - 7,00,000', '₹ 2,00,000 - 2,14,000',
       '₹ 4,20,000 - 8,00,000', '₹ 2,04,000 - 2,16,000',
       '₹ 2,64,000 - 4,80,000', '₹ 3,45,000 - 4,00,000',
       '₹ 2,00,000 - 3,96,000', '₹ 3,40,000 - 4,00,000',
       '₹ 3,60,000 - 9,60,000', '₹ 4,20,000 - 4,30,000',
       '₹ 2,00,000 - 2,76,000', '₹ 2,16,000 - 3,60,000',
       '₹ 3,40,000 - 3,60,000', '₹ 2,00,000 - 2,49,999',
       '₹ 2,40,000 - 5,40,000', '₹ 2,04,000 - 2,52,000',
       '₹ 2,20,000 - 2,64,000', '₹ 7,50,000 - 10,00,000',
       '₹ 2,16,000 - 2,44,000', '$ 2,450 - 2,500', '₹ 2,30,000',
       '₹ 2,00,000 - 2,00,400', '₹ 2,64,000', '₹ 4,20,000 - 4,20,000',
       '₹ 7,20,000 - 12,00,000', '₹ 5,00,000 - 11,00,000',
       '₹ 7,20,000 - 7,20,000', 'Competitive salary',
       '₹ 8,00,000 - 14,00,000', '₹ 15,00,000 - 25,00,000',
       '₹ 3,26,000 - 5,00,000', '₹ 4,80,000 - 7,20,000',
       '₹ 7,00,000 - 15,00,000', '₹ 4,20,000 - 4,80,000',
       '₹ 20,00,000 - 60,00,000', '₹ 3,00,000 - 5,40,000',
       '₹ 3,00,000 - 45,00,000', '₹ 7,00,000 - 16,00,000',
       '₹ 43,20,000 - 86,40,000', '₹ 11,00,000 - 11,00,000',
       '₹ 2,64,000 - 4,20,000', '₹ 15,00,000 - 20,00,000',
       '₹ 60,00,000 - 60,00,000', '₹ 4,80,000 - 4,80,000',
       '₹ 12,00,000 - 24,00,000', '₹ 9,60,000 - 12,00,000',
       '₹ 3,96,000 - 4,20,000', '₹ 2,16,000 - 3,12,000',
       '₹ 21,60,000 - 30,00,000', '₹ 3,00,000 - 7,20,000',
       '₹ 3,00,000 - 3,48,000', '₹ 3,00,000 - 7,80,000',
       '₹ 12,00,000 - 25,00,000', '₹ 2,20,000 - 8,00,000',
       '₹ 25,92,000 - 36,00,000', '₹ 6,00,000 - 6,00,000',
       '₹ 12,00,000 - 16,00,000', '₹ 2,80,000 - 3,50,000',
       '₹ 2,20,000 - 3,10,000', '₹ 6,00,000 - 18,00,000',
       '₹ 3,60,000 - 3,60,000', '₹ 3,00,000 - 3,00,000',
       '₹ 2,40,000 - 7,20,000', '₹ 2,16,000 - 2,28,000',
       '₹ 3,36,000 - 4,56,000', '₹ 2,76,000 - 3,36,000',
       '₹ 5,50,000 - 6,00,000', '₹ 2,76,000 - 4,20,000',
       '₹ 3,24,000 - 7,80,000', '₹ 5,40,000 - 7,20,000',
       '₹ 36,00,000 - 86,40,000', '₹ 4,20,000 - 10,20,000',
       '₹ 2,40,000 - 3,84,000', '₹ 5,00,000 - 5,00,000',
       '₹ 2,80,000 - 4,00,000', '₹ 2,50,000 - 7,00,000',
       '₹ 5,40,000 - 6,60,000', '₹ 22,00,000 - 27,00,000',
       '₹ 2,80,000 - 4,20,000', '₹ 10,00,000 - 32,00,000',
       '₹ 7,00,000 - 14,00,000', '₹ 20,00,000 - 33,00,000',
       '₹ 14,00,000 - 17,00,000', '₹ 16,80,000 - 19,20,000',
       '₹ 4,20,000 - 7,20,000', '₹ 2,40,000 - 3,12,000',
       '₹ 8,00,000 - 15,00,000', '₹ 2,40,000 - 2,76,000',
       '₹ 2,76,000 - 3,24,000', '₹ 3,60,000 - 8,40,000',
       '₹ 8,00,000 - 13,00,000', '₹ 9,60,000 - 16,80,000',
       '₹ 6,60,000 - 8,40,000', '₹ 40,00,000 - 60,00,000',
       '₹ 5,40,000 - 7,80,000', '₹ 4,60,000 - 6,00,000',
       '₹ 28,80,000 - 36,00,000', '₹ 6,60,000 - 10,80,000',
       '₹ 2,40,000 - 3,36,000', '₹ 5,00,000 - 8,50,000',
       '₹ 4,80,000 - 9,60,000', '₹ 50,40,000 - 64,80,000',
       '₹ 21,60,000 - 36,00,000', '₹ 2,20,000 - 4,25,000',
       '₹ 17,00,000 - 25,00,000', '₹ 24,00,000 - 30,00,000'], dtype=object)